h1 {
    color: red;
    font-size: 10pt;
}
img {
    width: 100pt;
}
li {
    font-style: italic;
}
h1 {
    list-style-type:armenian ;
}
.user {
    width: 64px;
    padding: 5px;
    background-color: aqua;
}

#specialuser {
    width: 200px;
    padding: 5px;
    background-color: burlywood;
}